// Specific CSS for your home-page
.banner-home {
  h1 {
    font-size: 84px;
    color: white;
  }

  h2 {
    color: $red;
    font-size: 36px;
  }

  p {
    color: white;
    margin-bottom: 24px;
  }
}

.red-font {
  color: $red;
}

.btn-home {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $red;
  transition: background 0.3s ease;
  border: 1px solid $red;
}

.btn-home:hover {
  background: $white;
  color: $red;
  text-decoration: none;
  border: 1px solid $red;
}
