<%= content_for(:navbar_class, "navbar-home") %>
<div class="banner-home">
  <div class="container">
    <div class="banner-text">
      <strong><h1><span class="red-font">ez</span>tenda</h1></strong>
      <h2>A great deal better</h2>
      <p>The online auction where bars can tender their listing deals and brand can bid for them.</p>
      <%= link_to "Get started", tenders_path, class: "btn-home" %>
    </div>
  </div>
</div>


