<%= content_for(:navbar_class, "navbar-home") %>
<div class="banner-home">
  <div class="container">
    <div class="banner-text">
      <h1><span class="red-font">ez</span>tenda</h1>
      <h2>A great deal better</h2>
      <p>The online auction where bars can tender their listing deals and brand can bid for them.</p>
      <a class="btn-home" href="#">Get started</a>
    </div>
  </div>
</div>


