.banner-home  {
  background: rgba(0,0,0,0.3);
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/274192/pexels-photo-274192.jpeg?cs=srgb&dl=pexels-pixabay-274192.jpg&fm=jpg");
  background-size: cover;
  background-position: top;
  padding: 150px;
}
