.btn-category-tag {
  cursor: pointer;
  padding: 3px 15px;
  border-radius: 45px;
  border: 1px solid $red;
  color: $red !important;
  margin: 16px 5px;
}

.btn-category-tag:hover {
  text-decoration: none;
  background-color: $red;
  color: white !important;
  transition: 0.3ms ease;
}

.btn-category-active {
  background-color: $red;
  color: white !important;
}
