.card-product {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card-product img {
  height: 80%;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 16px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $red;
}

.card-product h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $red;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  margin-left: 16px;
}

.live {
  color: green;
  border: 1px solid green;
  padding: 3px 6px;
  border-radius: 6px;
}


.card-product .card-product-infos .btn-home {
  display: inline-block;
  margin-top: 16px;
  padding: 4px 16px;
}


/*cards with bids on offers page */

.offers-list {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  justify-content: center;
}

.offers-list-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  width: 400px;
  // height: 150px;
  // align-items: flex-start;
  border-radius: 10px;
}

.offers-list-card_text {
  text-align: center;
}
