.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card-product img {
  height: 80%;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 60px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $red;
}

.card-product h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $red;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding-right: 60px;
}

.card-product .card-product-infos .last-child {
  padding: 16px;
  margin-right: 24px;
}

.live {
  color: green;
  border: 1px solid green;
  padding: 3px 6px;
  border-radius: 6px;
}


.card-product .card-product-infos .btn-home {
  display: inline-block;
  margin-top: 16px;
  padding: 4px 16px;
}


/*cards with bids on offers page */

.offers-list {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  justify-content: center;
  grid-gap: 60px;
  padding: 40px;
}

.offers-list-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.offers-list-card_text {
  text-align: center;
}

.active-btn {
  margin-top: 30px;
}

.titles {
  hr {
    height: 6px;
    width: 80px;
    background: $red;
    margin-bottom: 40px;

  }
}

.card-contract {
  width: 300px;
  padding: 24px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 30px;
}


.contract-link {
  text-decoration: none !important;
  color: $black;
}

.contract-link:hover {
  text-decoration: none !important;
  color: $red;
}
