.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  margin-top: 10px;
  color: white;
  text-transform: uppercase;

  #navbar-text {
  color: $white;
  transition: .2s;
  display: inline-block;
  margin-right: 35px;

  &:hover {
   color: $red;
  }
}

}

.navbar-lewagon {
  justify-content: space-between;
  // position: relative;
  width: 100%;
  background-color: transparent;
  box-shadow: none;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  border-radius: 50%;
}


#navbar-text {
  text-transform: uppercase;
  transition: .2s;
  display: inline-block;
  margin-right: 25px;

  &:hover {
   color: $red;
  }
}
