.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  margin-top: 10px;
  color: white;

  #navbar-text {
    color: white;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  // position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  margin-top: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 50%;
}
