<section>
  <div class="container">
        <div class="card-product">
          <div class="card-product-infos">
            <h2><%= @product.name %></h2>
            <p><%= @product.description %></p>

          </div>
          <div class="card-product-infos">
          </div>
        </div>
  </div>
</section>
